<div id="openid">
    <script type="text/javascript" charset="utf-8">
        function setProvider(value) {
            document.getElementById('provider').value = value;
            document.openid.submit();
        }
    </script>

    <h3>Sign in with OpenID <a href="http://openid.net/get-an-openid/what-is-openid/">What is OpenID?</a></h3>

    <a href="javascript:setProvider('https://www.google.com/accounts/o8/id')" title="Login with Google">
        <img src="http://google.com/favicon.ico" />
    </a>

    <a href="javascript:setProvider('https://yahoo.com/')" title="Login with Yahoo">
        <img src="http://www.yahoo.com/favicon.ico" />
    </a>

    <a href="javascript:setProvider('https://openid.yubico.com/')" title="Login with YubiKey">
        <img src="http://static.yubico.com/images/favicon.ico" />
    </a>

    <a href="javascript:setProvider('https://openid.aol.com/')" title="Login with AOL">
        <img src="http://www.aol.com/favicon.ico" />
    </a>

    <form id="openid" name="openid" action="{% url socialregistration:openid:redirect %}" method="post">
	    {% csrf_token %}

    	{% if provider %}
	    	<input type="hidden" name="openid_provider" value="{{ provider }}" />
        {% else %}
    	    <input type="text" id="provider" name="openid_provider" />
        {% endif %}

        {% if button %}
        	<input type="image" onclick="this.form.submit();" src="{{ button }}" />
        {% else %}
    	    <input type="submit" value="Connect with OpenID" />
        {% endif %}
    </form>
</div>
