body {
    color: #323232;
}

::selection { background: #245d85; color: #fff; text-shadow: none; }

.content-wrapper {
    margin-top: 55px;
    margin-bottom: 5px;
}

a {
    color: #245d85;
    text-decoration: none;
}

input[type="text"] {
    height: 28px;
}

#paste {
    overflow: scroll;
}

h1 small {
    vertical-align:text-top;
}

h1 small img {
    margin-top: -5px;
}

.brand {
    color: #000;
}

.marketing h1, .marketing h2 {
    font-weight: 300;
}

.marketing h1 {
    margin: 36px 0 27px;
    text-align: center;
    font-size: 40px;
}

.marketing .row {
    margin-bottom: 9px;
}

.changelog h1, .changelog h2, .changelog h3 {
    font-weight: 300;
}

.changelog h1 {
    margin: 37px 0 27px;
    font-size: 40px;
}

.changelog .row {
    margin-bottom: 20px;
}

@media (max-width: 979px) {
    .content-wrapper {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container-fluid {
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .marketing h1, .changelog h1 {
        margin: 5px 0 27px;
    }
}

table, table td, table th {
    border: 0;
    margin: 0;
}

table {
    margin: 1em 0 !important;
}

table th {
    border-bottom: 1px solid #bbb !important;
    padding: .2em 1em !important;
}

table td {
    border-bottom: 1px solid #ddd !important;
    padding: .2em 1em !important;
}

.errorlist {
    color: #ab2a2a;
}

img.avatar {
    border-radius: 2px;
}

.modal form {
    margin-bottom: 0;
}

.persona-button {
    float: right;
    margin-top: 7px;
}

.persona-button:hover {
    color: #fff;
}

