article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
body {
    color: #323232;
    font-weight:500; font-style:normal;
    font-family: Myriad Pro;
    font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}
#paste section {
    width: 700px;
}

#paste aside {
    margin-left: 720px;
    width: 100%;
}

}

h1, h2, h3, h4, h5 {
    margin-top: 15px;
}

h1 {
    margin-bottom: 30px;
}

::selection { background: #245d85; color: #fff; text-shadow: none; }

.content-wrapper {
    padding: 45px 10px;
}

.container-fluid {
    padding-right: 0;
}

a {
    color: #245d85;
    text-decoration: none;
}

aside {
    background: #ddd;

    min-height: 100%;
    height: 100%;

    padding: 5px 0;

    border-left: 1px solid #ccc;
}

@media (max-width: 979px) {
    .content-wrapper {
        padding: 0 10px;
    }

    aside {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container-fluid {
        padding-right: 20px;
    }

    aside {
        border-radius: 10px;
        border: 0;
    }
}

@media (max-width: 768px) {
    aside {
        border-top: 1px solid #ccc;
    }
}

aside ul {
    list-style: none; list-style-image: none; margin: 0; padding: 0;
}

table, table td, table th {
    border: 0;
    margin: 0;
}

table {
    margin: 1em 0 !important;
}

table th {
    border-bottom: 1px solid #bbb !important;
    padding: .2em 1em !important;
}

table td {
    border-bottom: 1px solid #ddd !important;
    padding: .2em 1em !important;
}

.errorlist {
    color: #ab2a2a;
}

img.avatar {
    border-radius: 2px;
}

