body {
    color: #323232;
}

::selection { background: #245d85; color: #fff; text-shadow: none; }

.content-wrapper {
    margin-top: 55px;
    margin-bottom: 5px;
}

a {
    color: #245d85;
    text-decoration: none;
}

input[type="text"] {
    height: 28px;
}

#paste {
    overflow: scroll;
}

h1 small {
    vertical-align:text-top;
}

h1 small img {
    margin-top: -5px;
}
}

@media (max-width: 979px) {
    .content-wrapper {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container-fluid {
        padding-right: 20px;
    }
}

}

table, table td, table th {
    border: 0;
    margin: 0;
}

table {
    margin: 1em 0 !important;
}

table th {
    border-bottom: 1px solid #bbb !important;
    padding: .2em 1em !important;
}

table td {
    border-bottom: 1px solid #ddd !important;
    padding: .2em 1em !important;
}

.errorlist {
    color: #ab2a2a;
}

img.avatar {
    border-radius: 2px;
}

.changelog .row {
    margin-bottom: 20px;
}
