{% extends "base.html" %}

{% block head %}paste{% endblock %}

{% block title %}New Snippet{% endblock %}

{% block content %}
    <h1>New Snippet</h1>

    <form class="form-horizontal" action="/paste/" method="post">{% csrf_token %}
        <fieldset>
          {% for field in form %}
            <div class="control-group{% if field.errors %} error{% endif %}">
                <label for="{{ field.auto_id }}" class="control-label">
                    {{ field.label|safe }}
                </label>
                <div class="controls">
                    {{ field }}
                  {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                  {% endif %}
                </div>
            </div>
          {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Share</button>
            </div>
        </fieldset>
    </form>

    <script type="text/javascript" charset="utf-8">
        lexers = document.getElementById("id_lexer");
        lexers.onchange = function() {
            if (this.value=='more') {
                location.href='/syntax/';
            }
        }

        none = document.createElement("OPTION");
        none.text = "--";
        none.value = "";
        lexers.options.add(none);

        more = document.createElement("OPTION");
        more.text = "More";
        more.value = "more";
        lexers.options.add(more);
    </script>
{% endblock %}

{% block sidebar_extra %}
    <h3>Why use snippt?</h3>
    <ul>
        <li><a href="/syntax/" title="List of supported syntax">Supports over 200 different syntax</a></li>
        <li>Render markdown and restructured text</li>
        <li>User accounts</li>
        <li><a href="/man" title="manpage for snippt">CLI pasting</a></li>
    </ul>

  {% if user.is_authenticated %}
    <h3>Recent Snippets</h3>
    <ul>
      {% for paste in user.snippet_set.recent %}
        <li><a href="{{ paste.get_absolute_url }}/">{{ paste }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
