{% extends "base.html" %}

{% block title %}Snippet {{ object }}{% endblock %}

{% block nav_class %}container-fluid{% endblock %}

{% block wrapper %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <h1>
                    {{ object }}
                  {% if object.author %}
                    {% load gravatar %}
                    <small><a href="/u/{{ object.author }}/">
                        <img width="20" heigt="20" src="{% gravatar object.author.email 20 %}"
                            class="avatar" />
                        {{ object.author }}
                    </a></small>
                  {% endif %}
                </h1>
            </div>

            <div class="span4">
                <div class="btn-group pull-right">
                    <a href="/?fork={{ object.slug }}" class="btn">Fork</a>
                    <a href="{{ object.get_absolute_url }}" class="btn">Raw</a>
                  {% ifequal object.author user %}
                    <a href="#confirm-delete" data-toggle="modal" class="btn btn-danger">Delete</a>
                  {% endifequal %}
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div id="paste">
                {{ processed_content }}
            </div>
        </div>
    </div>

  {% ifequal object.author user %}
    <div class="modal fade" id="confirm-delete">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Delete {{ object }}</h3>
        </div>

        <div class="modal-body">
            <p>Confirm delete</p>
        </div>

        <div class="modal-footer">
            <form action="{{ object.get_absolute_url }}/delete/" method="post" accept-charset="utf-8">
                <a href="#" class="btn" data-dismiss="modal">Close</a>

                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </div>
  {% endifequal %}
</div>
{% endblock %}

