{% extends "base.html" %}

{% block content %}
    {{ processed_content }}
{% endblock %}

{% block sidebar %}
    <h3>Snippet {{ object }}</h3>

    {% ifequal object.author user %}
      <form action="{{ object.get_absolute_url }}/delete/" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <p><input type="submit" value="Delete snippet &rarr;"></p>
      </form>
    {% endifequal %}

    <ul>
      {% if object.author %}
        <li>By {{ object.author }}</li>
      {% endif %}

      {% if object.published %}
        <li>Published: {{ object.published }}</li>
      {% endif %}

      {% if object.expires %}
        <li>Expires: {{ object.expires }}</li>
      {% endif %}
    </ul>

    <h3>View Options</h3>

    <ul>
        <li><a href="/{{ object.slug }}">Raw</a></li>

      {% ifequal lexer "rrst" %}
        <li><a href="/{{ object.slug }}?rst">RST Syntax</a></li>
      {% endifequal %}

      {% ifequal lexer "rst" %}
        <li><a href="/{{ object.slug }}?rrst">Render RST</a></li>
      {% endifequal %}
    </ul>

    {% if a %}
        <h3>Diff</h3>

        <ul>
            <li><a href="{{ a.get_absolute_url }}?g">{{ a }}</a></li>
            <li><a href="{{ b.get_absolute_url }}?g">{{ b }}</a></li>
        </ul>
    {% endif %}
{% endblock %}
