<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{% block title %}Paste{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}screen.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}pygments.css" type="text/css" media="all" charset="utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    </head>

    <body id="{% block head %}{% endblock %}">
        <section>
            {% block content %}{% endblock %}
        </section>

        <aside>
          {% block sidebar %}
            {% if request.user.is_authenticated %}
              <h3>Welcome {{ user }}</h3>

              {% load gravatar %}
              <p><img src="{% gravatar user.email 50 %}" border="0" alt="" /></p>

              <a href="/social/logout/">Logout</a>
            {% else %}
              <h3>Sign in with BrowserID</h3>

              <a id="browserid" href="#">
                  <img src="https://browserid.org/i/sign_in_blue.png" alt="Sign in"/>
              </a>

              <form method="POST" action="{% url browserid_verify %}">
                {% csrf_token %}
                {{ browserid_form.as_p }}
              </form>

              {{ browserid_form.media }}
            {% endif %}

            {% block sidebar_extra %}

            {% endblock %}
          {% endblock %}
        </aside>
    </body>
</html>
