<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{% block title %}Paste{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}screen.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}pygments.css" type="text/css" media="all" charset="utf-8">
    </head>

    <body id="{% block head %}{% endblock %}">
        <section>
            {% block content %}{% endblock %}
        </section>

        <aside>
          {% block sidebar %}
            {% if request.user.is_authenticated %}
              <h3>Welcome {{ user }}</h3>

              {% load gravatar %}
              <p><img src="{% gravatar user.email 50 %}" border="0" alt="" /></p>

              <a href="/social/logout/">Logout</a>
            {% else %}
              {% load openid %}
              {% openid_form %}
            {% endif %}

            {% block sidebar_extra %}

            {% endblock %}
          {% endblock %}
        </aside>
    </body>
</html>
